extends layout

block content
  h1.center Results for #{className}, #{dogSize}
  h2.center #{competition}, #{createdFormatted}
  ul.inline.center
    li
      span Standard time 
      strong #{courseTimeInSeconds} sec
    li
      span Course length 
      strong #{courseLengthInMeters} m
    li
      span Judge 
      strong #{judge}
  table.table.table-striped
    tr
      th #
      th Name
      th Dog
      th Time
      th.hidden-phone Course faults
      th Total faults 
    each result, i in results
      tr(class= result.disqualified ? 'muted' : '')
        td= (!result.disqualified) ? i+1 : 'Dis'
        td= result.name
        td= result.dog.name
        td= (result.time !== 0) ? result.time.toFixed(2) : ''
        td.hidden-phone= (result.courseFaults !== 0) ? result.courseFaults : ''
        td= (result.totalFaults !== 0) ? result.totalFaults.toFixed(2) : ''
