extends layout

block content
  .text-center
    h1 Results for #{className}, #{dogSize}
    .lead #{competition}, #{createdFormatted}
    ul.list-inline
      li
        span Standard time 
        strong #{courseTimeInSeconds} sec
      li
        span Course length 
        strong #{courseLengthInMeters} m
      li
        span Judge 
        strong #{judge}
    ul.list-inline
      li No faults #{noFaults}%
      li With faults #{withFaults}%
       li Disqualified #{disqualified}%
    .progress
      .progress-bar.progress-bar-success(style="width: #{noFaults}%")
      .progress-bar.progress-bar-warning(style="width: #{withFaults}%")
      .progress-bar.progress-bar-danger(style="width: #{disqualified}%")
  table.table.table-striped
    tr
      th #
      th Name
      th Dog
      th Time
      th.hidden-sm
      th.hidden-sm
        abbr(title="Meters pr second") Velocity
      th.hidden-sm Time faults
      th.hidden-sm Course faults
      th Total faults 
    each result, i in results
      tr(class= result.disqualified ? 'text-muted' : '')
        td= (!result.disqualified) ? i+1 : 'Dis'
        td= result.name
        td= result.dog.name
        td.text-right= (result.time !== 0) ? result.time.toFixed(2) : ''
        td.text-right.hidden-sm= (result.afterFirst && result.afterFirst !== 0) ? result.afterFirst.toFixed(2) : ''
        td.text-right.hidden-sm= (result.metersPrSecond) ? result.metersPrSecond.toFixed(2) : ''
        td.text-right.hidden-sm= (result.timeFaults !== 0) ? result.timeFaults.toFixed(2) : ''
        td.text-right.hidden-sm= (result.courseFaults !== 0) ? result.courseFaults : ''
        td.text-right= (result.totalFaults !== 0) ? result.totalFaults.toFixed(2) : ''
